.jumbotron-light-blue {
  background-color: #00b8e1;
  padding: 20px;
}

.m-top-10 {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.white-font {
  color: white;
}

.btn-info-plus {
  border: 2px solid #ffffff;
  background-color: #00b8e1;
  margin-bottom: 17px;
  cursor: pointer;
  color: white;
}

/* Ripple magic */
.btn-info-plus {
  position: relative;
  overflow: hidden;
}

.btn-info-plus:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.btn-info-plus:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.pad-3-1 {
  padding: 3rem 1.5rem;
}

.p-top-40 {
  padding-top: 40px;
}

.has-error {
  border-color: red;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.075);
}

.has-error:focus {
  border-color: red;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.075);
}
